---
# Configuration tasks for DigitalOcean Agent

- name: Create DigitalOcean Agent configuration directory
  ansible.builtin.file:
      path: /etc/do-agent
      state: directory
      owner: root
      group: root
      mode: "0755"
  become: true

- name: Generate DigitalOcean Agent configuration
  ansible.builtin.template:
      src: etc/do-agent/do-agent.yaml.j2
      dest: /etc/do-agent/do-agent.yaml
      owner: root
      group: root
      mode: "0644"
      backup: true
  become: true
  notify: restart do agent
  when: do_custom_config_enabled | default(false)

- name: Create environment file for custom settings
  ansible.builtin.template:
      src: etc/default/do-agent.j2
      dest: /etc/default/do-agent
      owner: root
      group: root
      mode: "0600"
  become: true
  notify: restart do agent
  when: do_api_token != "" or do_custom_config_enabled | default(false)
