---
# Handler definitions for Grafana Alloy role

- name: Reload systemd
  ansible.builtin.systemd_service:
      daemon_reload: true
  become: true
  listen: reload systemd

- name: Restart alloy
  ansible.builtin.systemd_service:
      name: "{{ alloy_service_name }}"
      state: restarted
  become: true
  listen:
      - restart alloy
      - restart grafana alloy

- name: Update apt cache
  ansible.builtin.apt:
      update_cache: true
  become: true
  listen: update apt cache
  when: ansible_os_family == "Debian"
